In [1]:
import matplotlib.pyplot as plt
import numpy as np

In [2]:
test = """
1kj3kjlkj7
a3kk4jd
""".strip()

In [3]:
with open('input.txt', 'r') as f:
    input_ = f.read().strip()

# Part 1

In [8]:
def row_to_number(row):
    digits = [c for c in row if c.isdigit()]
    return int(digits[0] + digits[-1])
d
for row in test.split():
    print(row_to_number(row))

17
34

In [10]:
sum(row_to_number(row) for row in input_.split())

54916

# Part 2

In [86]:
test = """
two1nine
eightwothree
abcone2threexyz
xtwone3four
4nineeightseven2
zoneight234
7pqrstsixteen
""".strip()
expected = 281

In [91]:
numbers_to_val = {
    'one': 1, 
    'two': 2,
    'three': 3, 
    'four': 4,
    'five': 5,
    'six': 6,
    'seven': 7,
    'eight': 8,
    'nine': 9,
}

In [118]:
import string
numbers = list(numbers_to_val.keys()) + list(string.digits)

for d in string.digits:
    numbers_to_val[d] = int(d)

In [119]:
def row_to_number(row):
    lmatches = set((row.find(n), numbers_to_val[n]) for n in numbers if row.find(n) >= 0)
    rmatches = set((row.rfind(n), numbers_to_val[n]) for n in numbers if row.rfind(n) >= 0)
    matches = sorted(lmatches | rmatches)
    return matches[0][1] * 10 + matches[-1][1]

sum(row_to_number(row) for row in test.split())

281

In [120]:
row_to_number('91twolzjmtseven49')

99

In [121]:
sum(row_to_number(row) for row in input_.split())

54728